In [41]:
import numpy as np
import pandas as pd

data = {
    'DT':['2023-04-01',
              '2023-04-02',
              '2023-04-03',
              '2023-04-04',
              '2023-04-05',
              '2023-04-06',
              '2023-04-07',
              '2023-04-08',
              '2023-04-09',
              '2023-04-10',
              '2023-04-11',
              '2023-04-12',
              '2023-04-13',
              '2023-04-14',
              '2023-04-15',
              '2023-04-16',
],
    'ТО_НДС': [25169364.54,
                   21521028.5,
                   13814550.97,
                   14480259.59,
                   15476963.72,
                   17159637.46,
                   20067718.12,
                   23561023.74,
                   20796828.96,
                   15358356.79,
                   15751239.43,
                   16728365.75,
                   18108535.1,
                   22009678.94,
                   24114469.42,
                   16630633.81
                   ],

        }
df = pd.DataFrame(data)
# df.index = pd.date_range('2023-04-01', periods=df.shape[0], name='DT')
# df.index = pd.date_range('2023-04-01', periods=df.shape[0])
df

            DT       ТО_НДС
0   2023-04-01  25169364.54
1   2023-04-02  21521028.50
2   2023-04-03  13814550.97
3   2023-04-04  14480259.59
4   2023-04-05  15476963.72
5   2023-04-06  17159637.46
6   2023-04-07  20067718.12
7   2023-04-08  23561023.74
8   2023-04-09  20796828.96
9   2023-04-10  15358356.79
10  2023-04-11  15751239.43
11  2023-04-12  16728365.75
12  2023-04-13  18108535.10
13  2023-04-14  22009678.94
14  2023-04-15  24114469.42
15  2023-04-16  16630633.81

In [42]:
df.to_csv('forecast_best2',index=False, header=True)
df

            DT       ТО_НДС
0   2023-04-01  25169364.54
1   2023-04-02  21521028.50
2   2023-04-03  13814550.97
3   2023-04-04  14480259.59
4   2023-04-05  15476963.72
5   2023-04-06  17159637.46
6   2023-04-07  20067718.12
7   2023-04-08  23561023.74
8   2023-04-09  20796828.96
9   2023-04-10  15358356.79
10  2023-04-11  15751239.43
11  2023-04-12  16728365.75
12  2023-04-13  18108535.10
13  2023-04-14  22009678.94
14  2023-04-15  24114469.42
15  2023-04-16  16630633.81